 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #f3a2be;
            color: #444;
            padding: 10px 20px;
        }
        .header-container, .footer-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logo img {
            height: 50px;
        }
        .main-navigation ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        .main-navigation ul li {
            position: relative;
            margin: 0 15px;
        }
        .main-navigation ul li a {
            color: #444;
            text-decoration: none;
        }
        .main-navigation ul li ul {
            display: none;
            position: absolute;
            background-color: #444;
            list-style: none;
            padding: 10px;
            margin: 0;
            top: 100%;
        }
        .main-navigation ul li:hover ul {
            display: block;
        }
        .main-navigation ul li ul li {
            margin: 0;
        }
        .main-navigation ul li ul li a {
            color: #ffefef;
        }
        .back-button {
            color: #fff;
            text-decoration: none;
            background-color: #444;
            padding: 5px 10px;
            border-radius: 3px;
            font-weight: bold;
        }
        .back-button:hover {
            background-color: #f682ab;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f15b90;
            min-width: 160px;
            z-index: 1;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown-content a {
            color: #fff;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-content a:hover {
            background-color: #aca4a4;
        }
        .content {
            padding: 20px;
            flex-basis: 45%;
        }
        .book-exhibition {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .book {
            width: 150px;
            text-align: center;
        }
        .book img {
            width: 100%;
            height: auto;
        }
        .container {
            display: flex;
            justify-content: space-between;
            padding: 5px;
        }
        .justified-text {
            text-align: justify;
        }
        .pos {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .card {
            width: 280px;
            display: flex;
            align-items: center;
            flex-direction: column;
            border: 1px solid #444;
            padding: 10px;
            margin: 10px 0;
            background-color: #f3a2be;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgb(213, 136, 136);
            transition: transform 0.3s ease;
        }
        .card:hover {
            transform: scale(1.1);
            border: 1px solid #444;
        }
        .card-image {
            width: 250px;
            margin: 0 auto 10px;
        }
        .card-image img {
            width: 150px;
            height: 250px;
        }
        .card-details {
            text-align: center;
            flex-grow: 1;
        }
        .book-title {
            font-size: 1.2rem;
            color: #333;
        }
        .book-details {
            color: #444;
        }
        .button {
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-top: 10px;
        }
        .btn {
            flex: 1;
            text-align: center;
            padding: 5px 20px;
            margin: 0 5px auto;
            background-color: #444;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s ease;
        }
        .btn:hover {
            background-color: #f682ab;
        }
        .library {
            margin: 20px auto;
            padding: 20px;
            
        }